.container {
	margin: 0 40px;
}
.row{
	margin-left: -3%;
}
[class*="span"] {
	display: inline;
	float: left;
	margin-left: 3%;
	border: 1px solid black;
	box-sizing: border-box;
}
.span-one-third {
	width: 30%;
}
