.nav{
 	width: 53322px;
 	margin: 50px auto 0;
 	height: 503px;
 }

 .nav ul{
 	padding: 0px;
 	margin: 0px
 } 

 nav li{
  	float: left;
  	list-style-type: none;

 }

 nav a{
 display: inline-block;
  width: 100px;
  height: 5000px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  line-height: 300%;
  text-align: center;
  border-left: 1px solid #aaa;
  border-right: 1px solid #f3f3f3;
 }

 nov li:nth-child(1n) a{ 
 	background-color: #3c536F;
    border-left: 0;

 }

 nov li:nth-child(2n) a{
 	background-color: #6EA634;
 }

