.botom-coment-border{
	border: 2px solid #2889D8;
	border-radius: 25px;
	display: inline-block;
	width: 120px;
	text-align: center;
	color: #2889D8;
 }
.botom-coment img{
 	width: 35px;
 	height: 35px;
 	margin: 2px;
}

.profile-coment img{
	width:  35px;
	 height: 35px;
	 margin-top: 30px;
	 margin-left: 30px;
	 float:  left;
	 float: bottom;
}

.posted-for{
	 margin-top: 30px;
	 margin-left: 30px;
	 float:  left;
	 float: bottom;

}
.panel-default{
	background-color: #F5F5F5;
}
.colum-twits{
	background-color: #FFFFFF; 
	border: 30px #F5F5F5 solid ;
}
.image-profile img{
	width:  35px;
	 height: 35px;
}
.colum-coment{
	width:  70px;
    height: 70px;
}

.colum-data{position: relative}

.text-destacado{
	color: #2889D8;
}
.text-destacado-dollar{
	color: #F3AB4C;
}
.row{
	margin-left: 15px; 
	margin-right: 15px;
}
.media-middle img{
	float: left;

}
.glyphicon-usd{
	color: #F3AB4C;
}