 .box{
 background-color: #0000FF;
 height: 150px;
 width: 99px;
 padding: 20px;
 box-shadow: 4px 5px 4px;
 margin: 80px;

}

 .content{
 background-color: #81BEF7;
 height: 70px;
 width: 89px;
 padding: 10px;
 box-shadow: 9px 3px 3px;
 margin: 5px;
 }