.box-blue{
	color:blue;
	margin-left: 1%;
	background-color: red;
	border: 5px red solid;
	padding: 20%;

}
#red{
	color:red;
	margin-left: 1%;
	border: 5px blue solid;
	background-color: blue;
	padding: 20%;
}
.box-green{
	color:green ;
	top: 350px;
	left: 350px;
	margin-left: 1%;
	padding: 20%;

}

.otro-tipo{
	color:blue;
	top: 400px
	left: 500px;
}